/* =============
Media Query > responsive
 mobile Device 
 =================*/

@media (max-width: 768px) {
  .container {
    /* width: 90%; */
  }
  /* navbar */
  .nav-menu,
  .search {
    display: none;
  }
  .buttons{
    display: none;
  }
  .large-img{
    display: none;
  }
  .mobile-img {
  display: block;
}
  .fa-bars {
  display: block;
  font-size: var(--fs-subtitle);
}
  .freshness-title {
    font-size: 2.1rem;
  }
  .freshness-image img {
    width: 100%;
  }
  /* service */
  .services-cards {
    flex-direction: column;
  }
  .services {
    margin: 90px auto;
  }
  /* products-cards */
  .products-cards{
    grid-template-columns: 1fr;
  }
  .products-card {
    width: 95%;
  }
  .popular-cards{
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
    margin-left: 0px;
    column-gap: 0px;
  }
  .popular-card{
    width: 90%;
    height: 95%;
    padding: 10px;
  }
  .popular-card p {
    font-weight: var(--fw-semibold);
    font-size: 12px;
}
  .display-none{
    display: none;
  }
}
